* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  overflow-x: hidden;
  line-height: 1.8;
}

.header .navbar-nav {
  padding: 2.5px;
  justify-content: center;
  align-items: center;
}

.section1 {
  color: aliceblue;
  background-color: rgb(59, 66, 163);
  background-image: url(../practice-set/images/shadow-img1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 40px;
}

.section1 {
  box-sizing:content-box;
}

/* .section1 .carousel-indicators {
  bottom: 0;
  width: 125%;
  margin-bottom: right;
} */

.section1 .carousel-inner {
  box-sizing: border-box;
  border-radius: 60px;
  object-fit: cover;
}
/* .carousel-control-prev {

  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
}

.carousel-control-next {
  position: absolute;
  top: 50%;
  right: 35px;
  transform: translateY(-50%);
} */


.section2 {
  padding: 30px 40px;
}


.section2 .img-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.section2 .img-wrapper img{
  height: 70px;
}

.section2 .img-wrapper-text {
  display: block;
  margin-left: 10px;
  align-items: left;
}

.section2 .img-wrapper-text h4 {
  font-size: 13px;
  font-weight: 700;
}

.section2 .img-wrapper-text p {
  font-size: 12px;
  margin-bottom: 25px;
  text-align: left;
}

.section2 .graph-img{
  box-sizing: border-box;
  box-shadow: 0px 3px 22px rgba(185.98, 200.77, 222.06, 0.48);
  border-radius: 12px;
  margin-left: 40px;
  padding: 10px;
  width: 304px;
  height: 228px;
}
.section2 .graph-img img{
  width: 100%;
  height: auto
}

.section2 .img-text{
  display: block;
  position: absolute;
  top: 164%;
  
}

.section2 .img-text strong {
  font-size: 18px !important;
}

.section3{
  padding: 20px;
}

.section3 .text h1 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 20px;
}

.section3 .text p {
  font-size: 18px;
  margin-bottom: 20px;
}

.section3 .ul {
  font-size: 18px;
  text-align: justify;
  font-weight: 0;
  list-style: none;
  text-align: left;
}

.ul li {
  margin-bottom: 10px;
}

.ul li i {
  padding-right: 10px;
}

.section3 .image-container {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 20px;
  box-shadow: 50px;
}

.image-container img {
  object-fit: contain;
}

.section4 {
  padding: 30px 40px;
}

.section4 h2 {
  text-align: center;
}

.section4 p {
  text-align: center;
}

.section4 .table-box{
  background-color: #d0f8d7;
  padding: 10px;
  border-radius: 16px;
  height: 445px;
}

.section4 .icon-img {
  display: flex;
  align-items: center;
  background-color: #1a8310;
  padding: 10px; 
  border-radius: 6px;
}

.section4 .icon-img img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.section4 .icon-img-text h5{
  text-align: center ;
  color: #fff;}

.section4 .ul{
 padding: 15px;
}

.section5 .section5-container{
  width: 100%;
  background-color: #87eca0;
  box-sizing:content-box;
  margin-left: auto;
  margin-right: auto;
}

.section5-container form{
    display: flex;
    padding: 20px 30px 30px 30px;
    align-items: center;
    outline: #fff;
}

.section5-container .form input{
  outline: none;
}

.section5-container .form input:focus{
  box-shadow: none;
}

.section5-container .form .heading h2{
  font-weight: 600;
  font-size: 17px !important;
  text-align: center;
  margin-top: 15px;
}

.section5-container form .email{
  background-color: rgb(253, 253, 253);
  width: 100%;
  border: 2px solid #3dc015;
  border-radius: 24px;
  padding: 13px 50px 13px 20px;
  margin-left: 15px;
}

.section5-container form .number{
  background-color: rgb(253, 253, 253);
  width: 100%;
  border: 2px solid #3dc015;
  border-radius: 24px;
  padding: 13px 50px 13px 20px;
  margin-left: 30px;
}

.section5-container form .button{
  margin-left: 50px;
} 

.section6-container{
 padding: 40px;
}

.section6-container h1{
  text-align: center;
  margin-bottom: 10px;
  font-size: 35px;
}

.section6-container p{
  text-align: center;
  margin-bottom: 30px;
  font-size: 15px;
  padding: 0 20px;
}

.section6-container .warapper .icon-img{
  display: flex;
}

.section6-container .icon-img img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.section6-container .icon-img-text{
  display: block;
}

.benefits-section .wrapper p{
  text-align: left;
  padding: 0;
}

.benefits-section .icon-img {
  display: flex;
  align-items: flex-start;
  gap: 7px;
}

.benefit-image {
  position: relative;
  width: 350px;
  height: auto;
}

.form-body {
  background: #ffffff29;
  padding: 25px 20px;
  border-radius: 15px;
  border: 1px solid #ffffff57;
}

 .section7 {
  padding: 40px;
}

 .section7-container h1{
  text-align: center;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
}

.section7-container p{
  text-align: center;
  margin-bottom: 10px;
  font-size: 15px;
  margin: 15px 0;
}

.section7 .carousel-inner{
  background-color: #87eca0;
  box-sizing: border-box;
  border-radius: 35px;
}

.section7 .carousel-inner img{
  padding: 20px;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 50%;
  object-fit: cover;
}

.section7 .carousel-inner h5{
  text-align:center;
  color: black;
}

.section7 .carousel-inner p{
  text-align:center;
  color: black;
} 

.section8 {
  padding: 40px;
}

.section8 h1{
  text-align: center;
  margin-top : 50px;
}

.section8 p{
  text-align: center;
  margin: 15px;
  margin-bottom: 50px;
}

.section8 .fa-star {
  color: rgb(202, 202, 12);
}

.section8 .fa-quote-left{
  color: rgb(9, 9, 151);
}

.section8 .style{
  display: flex;
  justify-content: space-evenly;
}

.section8 .style .quote{
  width: 50%;
  margin-right: 10px;
}

.section8 .card{
  padding: 0px 30px;
  width: auto;
  height: 100%;
  box-sizing: border-box;
  box-shadow: #c9e9cf 10px 10px;
  border-radius: 10%;
}


.section8 .card-text{
  text-align: left;
  font-size: 12px;
  font-weight: 550;
}


.section8 .card-image{
  display: flex;
  object-fit: cover;
  padding: 20px;
  
}

.section8 .card-image img{ 
  width: 100px;
  height: 100px; 
  object-fit: cover;
  vertical-align: middle;
  box-sizing: border-box;
  border-radius: 90px;
} 


 .section8 .clent-name h5{
  align-items: flex-start;
  text-align: center;
  font-size: x-large;
  margin-left: 50px;
}

.section8 .clent-name p{
  align-items: flex-start;
  margin-left: 50px;
  
}



.btn{
  
}


.footer {
  background-color: rgb(97, 219, 97);
  color: rgb(255, 252, 252);
  text-align: center;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background:url(./images/double-bubble.png) ;
  background-size: 1000px 100px
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 8s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 8s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 7s linear infinite
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 7s linear infinite;
}

.footer a{
  text-decoration: none;
}

.footer-container {
  padding: 3rem 0;
}

.footer-container img{
  width: 15%;
  height: auto;
}

.footer-title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-semi-bold);
}

.footer-description {
  margin-bottom: var(--mb-3);
}

.footer-social {
  padding: 20px 10px;
}
.footer-social2 {
  padding: 20px 10px;
}

.footer-link {
  font-size: 1.4rem;
  margin-right: 10px;
  color: #FBF9F9;
  transition: .3s;
}

.footer-link:hover {
  color: var(--first-color-light);
}

.footer-copy {
  font-size: var(--smaller-font-size);
  color: var(--first-color-light);
}
/* @media only screen and (max-width: 600px) {
  footer .col-3{
   padding-left:0;
}
.footer-container{
    flex-direction: column;
}
.footer-container .col-3{
    width: 100% !important;
}
.copyright {
      font-size: 11px;
  }
} */
  





@media screen and (min-width: 320px) and (max-width: 768px) {
  body {
    font-family: "Poppins", sans-serif;
    font-size: 11px;

  }

  h1 {
    font-size: 20px;
    font-weight: 700;
  }

  .section1, .section2, .section3 {
    padding: 10px 20px;
  }

  .section3 .section3-container h1 {
    font-size: 25px;
  }

  .section3 .section3-container p {
    font-size: 15px;
  }

  .section3 .section3-container .ul li{
    font-size: 15px;
  }

}
